.rowContainer {
  min-height: 80vh;
}

.authImage {
  width: 300;
  height: 200;
  object-fit: fill;
  border-radius: 20px;
}

.loginContainer {
  display: flex;
  align-items: center;
}

.errorText {
  font-size: 14px;
  color: red;
  margin-bottom: 20px;
}
