.rowContainer {
  min-height: 80vh;
}

.registerRowContainer {
  min-height: 80vh;
  width: 50%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.authImage {
  width: 300;
  height: 200;
  object-fit: fill;
  border-radius: 20px;
}

.loginContainer {
  display: flex;
  align-items: center;
}

.errorText {
  font-size: 14px;
  color: red;
  margin-bottom: 20px;
}
