@import '../../../util/style.scss';

.header {
  font-weight: bold;
}

.body {
  min-height: 80vh;
  font-weight: bold;
  color: black;
}

.footer {
  margin: 10px 0px;
  text-align: center;
  font-weight: bold;
}

.productCard {
  display: flex;
  height: 15vw;
  width: 15vw;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  margin: 10px;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: black;
}

.categoryCard {
  display: flex;
  height: 14vw;
  width: 12vw;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  margin: 10px;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: black;
}

.imgStyle {
  height: 45%;
  width: 45%;
  object-fit: contain;
}

.adminImgStyle {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.imgSmall {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.receiptItem {
  margin-top: 35px;
  margin-bottom: 10px;
}

.spanOverflow {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: black;
}

.spanOverflowLeft {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  color: black;
}

a.dropdown-item:focus {
  background-color: $light-blue; // for font color of individual drop down item
}
