.quantityButtonContainer {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
}

.mainButtonContainer {
  display: flex;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.smallMainButton {
  display: flex;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.middleMainButton {
  display: flex;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
