input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productImageContainer {
  width: 20vw;
  height: 20vw;
  background-color: white;
  objectfit: 'fill';
}

.descriptionCard {
  min-height: 20vh;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.breakLine {
  white-space: pre-wrap;
}
